title{
  letter-spacing: 0.5;
}

body {
  color: #40514e;
  margin: 0;
  font-weight: 600;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #f6f4e6;
  font-size: 5rem;
  line-height: 2;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'EB Garamond', serif;
  font-size: 2rem;
}

h3 {
  color: #66BFBF;
  font-family: 'EB Garamond', serif;
  font-size: 1.5rem;
}

p {
  margin: 0;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 20%;
}

.intro1 {
  color: #66BFBF;
  font-weight: normal;
  font-family: 'EB Garamond', serif;
  font-size: 2rem;
}

.top-container {
/*  background-color: #6f4a8e;*/
background-color: #512b58;
  position: relative;
  padding-top: 100px;
}

.mid-container {
  /*background-color: #edd690;*/
}

.bottom-container {
  /*background-color: #faf35e;*/
}

.t-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.fullmoon{
  position: absolute;
  left: 100px;
  top: 35px;
  display: inline-block;
  height: 200px;
}

/* I TOOK OUT THE CSS FOR THE STARS UNTIL I FIND SOMETHING BETTER. I DON'T LIKE THIS STAR IMAGE*/

/*.stars1{
  position: absolute;
  right: 25px;
  bottom: 425px;
  height: 12.5%;
  display: inline-block;
  margin: 50px;
  height: 20%;
  color: #512b58; } */



.b-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.under {
  text-decoration: underline;
}

.profile {
  margin-top: 30px;
  padding: 30px;
}

.skillhr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 3.5px;
  width: 10%;
}

.skill-row{
  width: 50%;
  margin: 48px auto;
  text-align: left;
  line-height: 2;
}

.attribution1 {
  font-size: 65%;
}

.attribution2 {
  font-size: 65%;
}

.attribution3 {
  font-size: 65%;
}

.translate {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.japaneselang {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.webdev1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.lastparagraph{
  padding-bottom: 20px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 31;
  -moz-border-radius: 31;
  border-radius: 31px;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  letter-spacing: 3px;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.bottom-container{
    background-color: #512b58;
    position: relative;
    padding-top: 50px;
    margin-top: 50px;
}

.footer-link{
  color: #76508e;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 25px;
  text-decoration: none;
}

.footer-link:hover{
  color: #EAf6f6
}

.copyright{
  color: #f6f4e6;
  padding-top: 45px;
  padding-bottom: 45px;
  font-size: .75rem;
}
